.message {
    width: fit-content;
    margin-left: auto;
    padding-top: 24px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    width: fit-content;
    margin-right: 12px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 7px 13px 8px 13px;

    position: relative;

    background-color: #0066CC;
    color: #FFFFFF;
    border-radius: 10px;
}

.text:after {
    content: "";
    position: absolute;
    right: -4px;
    top: 45px;
    width: 0;
    height: 0;
    border-left: 10px solid #0066cc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    transform: rotate(-90deg);
}

.name {
    width: fit-content;
    margin-left: auto;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}

.messageText {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.time {
    width: fit-content;
    margin-left: auto;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;

    padding: 5px 11px 0;

}