.input:focus {
}

.input {
    outline: none;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    color: red;
}

.superInput {
}

.errorInput {
    border-color: red;

}

.errorInput:focus {
}

.error {
}
