.stand {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
