.radio {
    width: 20px;
    height: 20px;
    accent-color: black;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    align-items: center;
    gap: 11px;

    padding-bottom: 17px;
}

.options {
}
