.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.editableSpanContainer {
    padding: 24px 16px;
    color: rgba(0, 128, 255, 1);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
}