.App {
    --header_height: 60px;
}

.hw {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 0 70px;

    height: 50vh;
}

.hwTitle {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    color: #000000;

    margin-top: 33px;
    margin-bottom: 10px;
    padding: 0 70px;
}

h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}