.friendMessage {
    width: fit-content;
    padding-top: 30px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    width: fit-content;
    margin-left: 12px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 7px 13px 8px 13px;

    position: relative;

    background-color: rgba(245, 247, 251, 1);
    color: rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.friendText:after {
    content: "";
    position: absolute;
    left: -4px;
    top: 45px;
    width: 0;
    height: 0;
    border-left: 10px solid rgba(245, 247, 251, 1);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    transform: rotate(-90deg);
}

.friendName {
    width: fit-content;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}

.friendMessageText {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.friendTime {
    width: fit-content;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;

    padding: 5px 11px 0;
}
