.greetingForm {
    height: 336px;
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(204, 0, 0, 1);
}

input {
    min-width: 372px;
    min-height: 36px;

    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 5px;
}

.input:focus {
}

.errorInput {
    outline: none;
    border-color: rgba(204, 0, 0, 1)
}

.button {
    border: none;
    border-radius: 3px;
    width: 78px;
    height: 36px;
    background-color: rgba(0, 102, 204, 1);
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;


    padding: 5px 24px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    padding-top: 70px;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);

    font-family: Montserrat;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;

}

.greeting {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    color: rgba(0, 0, 0, 1);

    padding-top: 10px;

}
