.sendForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 44px;

    padding-bottom: 35px;
    padding-top: 27px;
}

.textarea {
    all: unset;
    padding: 12px 0 11px 24px;

    max-width: 976px;
    width: 100%;
    outline: none;
    height: 16px !important;
    border: none;
    border-radius: 20px;
    background-color: #F5F7FB;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1);

    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

}

.button {
    padding: 0;
    margin: 0;
    max-width: 120px;
    width: 100%;
    height: 40px;
    background-color: #0066CC;

    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 20px;
}

.button:hover {

}
.button:active {

}
