.select {
    width: 180px;
    height: 24px;

    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);

    border: 1px solid rgba(194, 194, 194, 1);
    border-radius: 2px;

    padding-left: 10px;
}

.select:focus {
    border: 1px solid rgba(0, 0, 0, 1);
}


.option:hover {
}
