.button {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    background-color: rgba(0, 102, 204, 1);
    width: 132px;
    height: 30px;
    color: #fff;

    border: none;
    border-radius: 3px;
}

.disabled {
    width: 133px;
    opacity: 0.5;
    color: rgba(0, 46, 92, 1);
}

.secondary {
    width: 176px;
    border: 1px solid rgba(0, 102, 204, 1);
    color: rgba(0, 102, 204, 1);
    background-color: transparent;
}

.default {
}

.red {
    background-color: rgba(204, 20, 57, 1);
}

.default:hover {
    width: 167px;
    background-color: rgba(0, 128, 255, 1);
}

.red:hover {
    width: 167px;
    background-color: rgba(255, 26, 71, 1);
}

.secondary:hover {
    background-color: rgba(229, 240, 250, 1);
    width: 167px;
}


.default:active {
    width: 149px;
    background-color: rgba(0, 89, 178, 1);
}

.secondary:active {
    width: 149px;
}

.red:active {
    width: 149px;
    background-color: rgba(178, 18, 50, 1);
}

.button:disabled {
}
